<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cart">My cart</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/">Log Out</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <form method="get" action="#">
   				<input type="search" placeholder= "Search..." class= "myNavBar"/>
		</form>
        </div><!--/.nav-collapse -->
      </div>
</nav> 

<div class="sidebar">
      <div class="sidebar-panel">
        <a href = "/results"> Women's shoes</a>
      </div>  
       <div class="sidebar-panel">
        <a href = "/results"> Men's shoes</a>
      </div>  
       <div class="sidebar-panel">
        <a href = "/results"> Children's shoes</a>
      </div> 
      <div class="sidebar-panel">
        <a href = "/results"> Accesories</a>
      </div> 
</div>

