<!DOCTYPE html>
<html lang="en">
  <% include components/head.ejs %>
  <body>
    <% include components/nav.ejs %>
    <div class="container">
      <div class="body-panel">
        <h1>Welcome to SNKRHEAD</h1>
        <p> Lorem ipsum dolor sit amet  <br>
        consectetur adipiscing elit. Donec pretium lectus risus, ac rhoncus purus bibendum sit amet. Duis feugiat augue pellentesque, vehicula velit vel, commodo ante. </br>
      Nam non leo porta lorem sollicitudin dictum ac ac est. Phasellus a urna vel enim laoreet auctor quis ut felis. Quisque tristique in elit quis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse malesuada mi vitae sem sagittis elementum.
        asjdnakjnda
        </p>
      </div>
  
    </div>

  </body>

</html>
