<!DOCTYPE html>
<html>
<head>
    <% include ./header/header %>
    <% include ./header/nav %>
</head>
<div class="container">
    <body>
    <div class="row">
        <% for(var i = 0; i < data.length; i++){ %>
        <div class="col-lg-3 col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="<%= data[i].image %>" class="img-responsive" width="200" height="200">
                <div class="caption">
                    <h3 ><%= data[i].name %></h3>
                    <p class="description"><%= data[i].description %></p>
                    <div class="clearfix">
                        <div class="price pull-left">$<%= data[i].price %></div>
                        <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </div>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">

    </script>
    </body>
</div>

</html>
