	<!DOCTYPE html>
	<html lang="en">
	<% include components/head.ejs %>
	<body>
	 <% include components/nav.ejs %>
	 <div class="container">
	 	<div class = "body-panel">
			<div class ="register-panel " >
				<h3>Please fill in the forms below</h3>
				<form method="get" action="#" style="float:center">
						<label for="first_name">First Name</label>
						<input type="text" name="first_name" id="first"><br/>

						<label for="last_name">Last Name</label>
						<input type="text" name="last_name" id="last_name"><br/>

						<label for="username" >Username</label>
						<input type="text" name="username" id="username"><br/>

						<label for="password">Password</label>
						<input type="text" name="password" id="password"><br/> 
						<button type="button" id="submit-button" onclick="logUserIn();">Submit</button>
						<br/>
				</form>
			</div>
			<div class = "oAuthRegister">
					<p> OR <p>
					<a href="#" class = "oAuthButton fbBtn"> Sign up with facebook </a>
					<br> </br>
					<a href="#" class = "oAuthButton googleBtn"> Sign up with google </a>
			</div>
		</div>
	</div>

		<script>
			function logUserIn(){
			var user = $("#first").val();
			var password = $("#last_name").val();
			alert("first name : "+ user + "  last name: " + password);
			}
		</script>
	</body>

	</html>
