<!DOCTYPE html>
<html lang="en">
  <% include components/head.ejs %>

  <body>
     <% include components/nav.ejs %>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <h2><%= title %></h2>
        <form method="get" action="#" style="float:left">
   				<label for="first_name">First Name</label>
				<input type="text" name="first_name" id="first_name"><br/>
				
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" id="last_name"><br/>
				
				<label for="username">Username</label>
				<input type="text" name="username" id="username"><br/>
				
				<label for="password">Password</label>
				<input type="text" name="password" id="password">
		</form>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
  </body>
</html>
