<!DOCTYPE html>
<html lang="en">
  <% include components/head.ejs %>
  <body>
    <% include components/nav.ejs %>
    <div class="container">
      <div class="body-panel">
        <h1><%=title %></h1>
        <p> Results from search or from sidebar will <br>
            appear here
        </p>
      </div>
  
    </div>

  </body>

</html>
